.more{
    color: blue;
}
.more:hover{
    text-decoration: underline;
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.card{
    padding: 1px;
    margin-bottom: 1%;
    width: 23.75%;
    background-color: rgb(224, 222, 218);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}
.cardColumn{
    width: 98%;
    margin: auto;
    height: 500px;
    margin-bottom: 1%;
    background-color: rgb(224, 222, 218);
}
.sombraCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.zoomImage{
    transform: scale(1.1);
}
/* .imagen-info{
    display: flex;
} */
.contenedor-imagen{
    width: 100%;
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.imagenColumn{
    height: 400px;
    width: 90%;
    margin: auto;
    display: flex;
}
.contenedor-imagenColumn{
    width: 30%;
    height: 400px;
    margin: auto;
}
.imagenes{
    height: 400px;
    width: 90%;
    margin: 1%;
}
.imagenesColumna{
    height: 400px;
    width: 100%;
}
.contendedor-info{
    width: 100%;
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.description{
    text-align: justify;
    padding: 3%;
    color: grey;
}
.titulo{
    text-align: center;
    color: black;
    text-transform: uppercase;
}
.navigation{
    margin: 5%;
}
.navigationColumn{
    margin-left: 1%;
    margin-top: 1%;
}
.aditional-info{
    padding-left: 3%;
    color:grey;
}
.contenedorInfoColumn{
    width: 46%;
}
.more {
    color: black;
}
.botonesArribaTarjeta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
   
}
.eliminarr{
    
    margin-left: 84%;
}
