.formContainer{
    display: flex;
    background-color: white;
    border: 0.5px solid lightgrey;
    height: 60px;
    width: 80%;
    margin: auto;
    justify-content: center;
}
.input{
    border: none;
    text-decoration: none;
    width: 100%;
    height: 55px;
    font-size: x-large;
    text-align: center;
}
.inputDiv{
    width: 95%;
    background-color: white;
    

}
.boton{
    text-decoration: none;
    background-color: white;
    border: 0;
}
.icono{
    font-size: x-large;
   color: lightgrey;
    margin-top: 80%;
    margin-left: 50%;
    text-align: center ;
}
.contenedorBoton{
    
    width: 5%;
    border-left: 1px solid lightgrey;
}