.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 40px; */
}
.columns{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
}
.noresults{
    width: 70%;
    margin: 0 auto;
    padding: 0 10px;
    background-color: white;
    height: 200px;
    border: 2px solid rgb(206, 206, 206);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.noresultsP{
    text-align: center;
    color: black;
    text-decoration: underline;
    size: 20px;
    width: 60%;
    font-size: xx-large;
    margin-top: auto;
}
.icon{
    width: 30%;
    font-size: 100px;
    text-align: center;
    margin-top: auto;
}
.boton{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    width: 5%;
    margin-top: 40px;
}
.cargarMas{
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #008CBA;
    background-color: #008CBA;
    color: white;
}

